*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  
}
body > #root > div {
	height: 100vh;
  }

.App {
  text-align: center;
  height: 100%;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ol,
ul {
  padding-left: 30px;
}
.board {
  border: none;
  background-color: white;
  display: inline-block;
  margin: 50px;
}

.board-col {
  margin: 0;
  float: left;
  padding: 0;
}
.aaa{
  height: 100vh;
 
}

.board-col-mid {
  margin-right: 3px;
  margin-left: 3px;
  float: left;
  padding: 0;
}

.board-row-mid{
  margin-top:3px;
  
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.board-row-mid:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  outline: none;
  background: #000;
  border: none;
  float: left;
  font-size: 75px;
  line-height: 15px;
  height: 100px;
  margin: 0px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: #fff;
  
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
